<div class="container-fluid"> 
<div class="jumbotron mx-auto col-md-4 mt-5">
	<div class="container">
		<h1 class="display-4">Join the potatoes!</h1>
		<%= simple_form_for(resource, :html => {:multipart => true}, as: resource_name, url: registration_path(resource_name)) do |f| %>
		<%= f.error_notification %>

		<div class="form-group">
			<%= f.input :fullname, required: true, autofocus: true, input_html: { class:"form-control"  }, wrapper: false, label_html: { class:"label" } %>
		</div>

		<div class="form-group">
				<%= f.input :username, required: true, input_html: { class:"form-control"  }, wrapper: false, label_html: { class:"label" } %>
		</div>

		<div class="form-group">
			<div class="">
				<%= f.input :email, required: true, input_html: { class:"form-control"}, wrapper: false, label_html: { class:"label" } %>
			</div>
		</div>


		<div class="form-group">
			<div class="">
				<%= f.input :password, required: true, input_html: { class:"form-control"}, wrapper: false, label_html: { class:"label" }, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
			</div>
		</div>

		<div class="form-group">
			<div class="">
				<%= f.input :password_confirmation, required: true, input_html: { class: "form-control" }, wrapper: false, label_html: { class: "label" } %>
			</div>
		</div>

		<div class="form-group">
			<%= f.label :photo %>
			<%= f.file_field :photo %>
			<%= f.hidden_field :photo_cache %>
		</div>

		<div class="form-group">
			<%= f.label :cover_image %>
			<%= f.file_field :cover_image %>
			<%= f.hidden_field :cover_image_cache %>
		</div>

		<div class="form-group">
			<div class="">
				<%= f.button :submit, "Sign up", class:"btn btn-info" %>
			</div>
		</div>

		<% end %>
		<br />
		<%= render "devise/shared/links" %>
	</div>
</div>
</div>