<%= render 'opinions/partials/sidebar_menu' %>
<%= javascript_pack_tag 'statistics_js' %>
<div class="container col-lg-8 mx-auto mt-4 d-flex flex-wrap justify-content-between">
  <% @users.each do |user| %>
  <div class="card" style="width: 18rem;">
    <img src="https://via.placeholder.com/48x60?text=User+Image" class="card-img-top" alt="User Image">
    <div class="card-body">
      <%= link_to user.fullname, user_path(user), class: 'text-dark font-weight-bolder text-decoration-none' %>
      <p class="card-text"><%= user.email %></p>
      <%= follow_status_btn(user) %>
    </div>
  </div>
  <% end %>
</div>