<li class="list-group-item">
    <div class="row">
        <img class="rounded col-sm-1" src="https://via.placeholder.com/20x20.png?text=Sample+Thumbnail" alt="">
        <div class="d-flex flex-column col-sm-8">
            <strong><%= opinion.user.fullname %></strong>
            <%= link_to "@"+opinion.user.username, opinions_path, class: 'text-dark' %>
            <%= opinion.text %>
        </div>
        <% if user_signed_in? && current_user.id == opinion.user_id %>
        <p class='ml-auto'>
            <%= link_to opinion do %>
            <span class="icon"><i class="fa fa-link p-2" aria-hidden="true"></i></span>
            <% end %>
            <%= link_to edit_opinion_path(opinion) do %>
            <span class="icon"><i class="fa fa-pencil p-2" aria-hidden="true"></i></span>
            <% end %>
            <%= link_to opinion, method: :delete, data: { confirm: "Are you sure you want to delete this opinion?" } do %>
            <span class="icon"><i class="fa fa-trash-o p-2" aria-hidden="true"></i></span>
            <% end %>
            <% end %>
        </p>
    </div>
</li>