<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
  <div class="sidebar-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item pb-5">
        <%= render 'profile' %>
      </li>
      <li class="nav-item">
        <div class="text-white row col-sm-12">
          <span class="material-icons pr-2">
            home
          </span>
          <%= link_to "Home", root_path, class: "nav-link text-white p-0" %>
        </div>
      </li>
      <li class="nav-item">
        <div class="text-white row col-sm-12">
          <span class="material-icons pr-2">
            alternate_email
          </span>
          <%= link_to "Connect", root_path, class: "nav-link text-white p-0" %>
        </div>
      </li>
      <li class="nav-item">
        <div class="text-white row col-sm-12">
          <span class="material-icons pr-2">
            home
          </span>
          <%= link_to "Discover", root_path, class: "nav-link text-white p-0" %>
        </div>
      </li>
      <li class="nav-item">
        <div class="text-white row col-sm-12">
          <span class="material-icons pr-2">
            person
          </span>
          <%= link_to "Profile", root_path, class: "nav-link text-white p-0" %>
        </div>
      </li>
      <li class="nav-item">
        <div class="text-white row col-sm-12">
          <span class="material-icons pr-2">
            pie_chart
          </span>
          <%= link_to "Statistics", root_path, class: "nav-link text-white p-0" %>
        </div>
      </li>
    </ul>
  </div>
</nav>
<main role="main" class="main-content col-md-9 ml-sm-auto col-lg-10 px-md-4">


  <div class="columns">
    <% if user_signed_in? %>

    <% else %>
    <%= render 'trends' %>
    <% end %>

    <%= render 'feed' %>
    <%= render 'who_to_follow' %>
  </div>



</main>