<!DOCTYPE html>
<html>

<head>
  <title>Movie Time</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>


<body class="main-content ">
  <% if flash[:notice] %>
  
  <div class="alert alert-success alert-dismissible fade show mb-0 text-center" role="alert"><%= notice %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <% end %>

  <% if flash[:alert] %>
  <div class="alert alert-danger alert-dismissible fade show mb-0 text-center" role="alert"><%= alert %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <% end %>

  <nav class="user-nav navbar navbar-dark sticky-top flex-md-nowrap p-0 shadow">
    <%= link_to "Movie Time", root_path, class: "bg-dark navbar-brand col-md-3 col-lg-2 mr-0 px-3" %>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
      data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <span class="material-icons">
      highlight
      </span>
      <%= link_to 'New movie', new_opinion_path, class: "nav-link ml-auto text-white" %>
      <% if user_signed_in? %>
      <%= link_to current_user.username, edit_user_registration_path, class: "nav-link text-white" %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link text-white" %>
      <% else %>
      <%= link_to 'Sign Up', new_user_registration_path, class: "nav-link text-white" %>
      <%= link_to 'Sign In', new_user_session_path, class: "nav-link text-white" %>
      <% end %>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <%= yield %>
    </div>
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>

</html>