<!DOCTYPE html>
<html>

<head>
  <title>Movie Time</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
  <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <% if flash[:notice] %>
  <div class="notification is-primary global-notification">
    <p class="notice"><%= notice %></p>
  </div>
  <% end %>

  <% if flash[:alert] %>
  <div class="notification is-alert global-notification">
    <p class="alert"><%= alert %></p>
  </div>
  <% end %>

  <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <%= link_to "Movie Time", root_path, class: "navbar-brand col-md-3 col-lg-2 mr-0 px-3" %>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
      data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <%= link_to 'New movie', new_opinion_path, class: "nav-link ml-auto text-white" %>
    <% if user_signed_in? %>
    <%= link_to current_user.username, edit_user_registration_path, class: "nav-link text-white" %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link text-white" %>
    <% else %>
    <%= link_to 'Sign Up', new_user_registration_path, class: "nav-link text-white" %>
    <%= link_to 'Sign In', new_user_session_path, class: "nav-link text-white" %>
    <% end %>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <%= yield %>
    </div>
  </div>
</body>

</html>